@using TestHtmlTable.Models
@model IEnumerable<Product>

<table>
    <tr>
        <td>ProdcutID</td>
        <td>ProdcutName</td>
        <td>Sort</td>
        <td>操作</td>
    </tr>
    @foreach (Product p in Model)
    {
        <tr>
            <td>@p.ProductId</td>
            <td>@p.ProductName</td>
            <td>@p.Sort</td>
            <td>
                <input type="button" onclick="up(@p.Sort)" value="上移"/>
                <input type="button" onclick="down(@p.Sort)" value="下移"/>
            </td>
        </tr>
    }

</table>